<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Cornerstone Latest -->
    <script src="https://unpkg.com/cornerstone-core"></script>
    <script src="https://unpkg.com/cornerstone-tools"></script>
    <script src="https://unpkg.com/dicom-parser"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
    <title>DICOM IMAGE VIEWER</title>
    <style>
        #dicomImage {
            height: 600px;
        }
    </style>

    <!-- Thymeleaf로 서버에서 전달된 imagePaths를 JavaScript로 넘겨줌 -->
    <script th:inline="javascript">
        var imagePaths = /*[[${imagePaths}]]*/ [];
        console.log('이미지 경로 리스트:', imagePaths);
    </script>

</head>
<body>
    <h2>DICOM IMAGE VIEWER</h2>

    <!-- 이미지 뷰어 영역 -->
    <div id="dicomImage" style="width:512px;height:512px"
         oncontextmenu="return false"
         onmousedown="return false">
    </div>

    <!-- 이전 이미지 / 다음 이미지 버튼 -->
    <button id="prevImage">이전 이미지</button>
    <button id="nextImage">다음 이미지</button>

    <!-- JavaScript 파일 포함 -->
    <script src="/js/testjs.js"></script>
</body>
</html>
