<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Series 목록</title>
</head>
<body>
    <h1>Series 목록</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Series Number</th>
                <th>Description</th>
                <th>Modality</th>
                <th>이미지 보기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="series : ${series}">
                <td th:text="${series.seriesNum}"></td>
                <td th:text="${series.seriesDesc}"></td>
                <td th:text="${series.modality}"></td>
                <td>
					
                    <a th:href="@{'/studies/' + ${series.studyKey} + '/series/' + ${series.seriesKey} + '/images'}">이미지 보기</a>
                    
					<!--<a th:href="@{'/studies/' + ${series.studyKey} + '/series/' + ${series.seriesKey} + '/images?seriesKeys=' + ${seriesKeys.join(',')}">이미지 보기</a>-->


                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- JavaScript로 seriesKey 목록을 전달 -->
    <script th:inline="javascript">
        // 시리즈 키 배열을 서버에서 전달받음
        var seriesKeys = /*[[${seriesKeys}]]*/ [];
        console.log('시리즈 키 리스트:', seriesKeys);  // 브라우저 콘솔에 시리즈 키 리스트 출력
    </script>
	
	<p>Series Keys: <span th:text="${seriesKeys}"></span></p>


    <a th:href="@{'/studies'}">뒤로 가기</a>
</body>
</html>
