<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study 목록</title>
    <!-- JS 파일 불러오기 -->
    <script src="/js/search.js"></script>
</head>
<body>
    <h1 onclick="showAllStudies()" style="cursor: pointer;">Study 목록</h1>
    <div>
        <label for="searchType">환자 검색하기</label>
        <select id="searchType">
            <option value="id">환자 ID</option>
            <option value="name">환자 이름</option>
        </select>
        <input type="text" id="searchValue" placeholder="Enter ID or Name">
        <button onclick="searchStudies()">검색</button>
    </div>
    <br/>
    
    <!-- 검색이 수행되었고, 결과가 없을 때 보여줄 메시지 -->
    <div th:if="${searchPerformed and #lists.isEmpty(studies)}">
	    <p>검색한 환자 목록이 없습니다.</p>
	</div>
    
    <!-- 검색 결과가 있을 때만 테이블을 표시 -->
    <table border="1" th:if="${!#lists.isEmpty(studies)}">
        <thead>
            <tr>
                <th>Study Date</th>
                <th>Study Description</th>
                <th>Modality</th>
                <th>환자 이름</th>
                <th>상세 보기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="study : ${studies}">
                <td th:text="${study.studyDate}"></td>
                <td th:text="${study.studyDesc}"></td>
                <td th:text="${study.modality}"></td>
                <td th:text="${study.pName}"></td>
                <td><a th:href="@{'/studies/' + ${study.studyKey} + '/series'}">시리즈 보기</a></td>
            </tr>
        </tbody>
    </table>
	
</body>
</html>
